{% extends "base.html" %}
{% block container_all %}
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="new-post inside-bg-post">
                <p>
                    <span style="font-size:16px">
                        <span style="font-family:微软雅黑">自学入门，初恋python，不拒绝一切新技术，目标全栈</span>
                    </span>
                </p>

                <p><a href="https://github.com/slcigh">https://github.com/slcigh</a></p>

                <p><a href="http://www.douban.com/people/61450088/">http://www.douban.com/people/61450088/</a></p>

            </div>
        </div>
    </div>
{% endblock %}